@model PagedList.IPagedList<RWAProject.Models.Video>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewData["Title"] = "Index";
}

<h1>Videos</h1>

<div class="d-flex justify-content-between">
    <p>
        @if (User.Identity!.Name!.ToLower() == "admin")
        {
            <a asp-action="Create" class="btn btn-primary">Create New</a>
        }

        @using (Html.BeginForm("Index", "Videos", FormMethod.Get, new { @class = "form-inline my-2 my-lg-0" }))
        {
            <div class="input-group">
                @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control mr-sm-2", placeholder = "Find by name" })
                <div class="input-group-append">
                    <button class="btn btn-primary my-2 my-sm-0" style="margin-left: 5px" type="submit">Search</button>
                </div>
            </div>
        }

</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                <a href="@Url.Action("Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })"
                   style="text-decoration: none">
                    Name
                </a>
            </th>
            <th>
                Description
            </th>
            <th>
                Duration
            </th>
            <th>
                Streaming Url
            </th>
            <th>
                <a href="@Url.Action("Index", new { sortOrder = ViewBag.GenreSortParm, currentFilter = ViewBag.CurrentFilter })"
                   style="text-decoration: none;">
                    Genre
                </a>
            </th>
            <th>
                Image
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalSeconds)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StreamingUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image!.Id)
            </td>
                <td>
                    <div class="d-flex justify-content-end">
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary" style="margin-right: 5px">Details</a>
                        @if (User.Identity!.Name!.ToLower() == "admin")
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary" style="margin-right: 5px">Edit</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                        }
                    </div>
                </td>
        </tr>
}
    </tbody>
</table>
<partial name="_PagingControls" />
