@model PagedList.IPagedList<RWAProject.Models.Video>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewData["Title"] = "Index";
}

<h1>Videos</h1>

<div class="d-flex justify-content-between pb-3">
    <p>
        @if (User.Identity!.Name!.ToLower() == "admin")
        {
            <a asp-action="Create" class="btn btn-primary">Create New</a>
        }
    </p>

        @using (Html.BeginForm("Index", "Videos", FormMethod.Get, new { @class = "form-inline my-2 my-lg-0" }))
        {
            <div class="input-group">
                @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control mr-sm-2", placeholder = "Find by name or genre" })

                <div class="input-group-append">
                    <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
                </div>
            </div>
        }
</div>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-img-container">
                    <a href="@Url.Action("Details", new { id = item.Id })">
                        <img src="@(item.Image?.Content)" class="card-img-top" alt="Video image not available">
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">@item.Description</p>
                    @if (User.Identity!.Name!.ToLower() == "admin")
                    {
                        <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-secondary">Edit</a>
                        <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-danger">Delete</a>
                    }
                </div>
            </div>
        </div>
    }
</div>

<partial name="_PagingControls" />
