@model IEnumerable<RWAProject.Models.Image>

@{
    ViewData["Title"] = "Index";
}

<h1>Images</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td style="max-width: 200px; word-wrap:break-word">
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                    <div class="d-flex justify-content-end">
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary" style="margin-right: 5px">Details</a>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary" style="margin-right: 5px">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger" style="margin-right: 5px">Delete</a>
                    </div>
            </td>
        </tr>
}
    </tbody>
</table>
